@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Mise en forme des titres et sous-titres */

h1{
    padding-top: 10px;
}

h1, h2{
    color: white;
    text-align: center;
    line-height: 2rem;
}

/* logo barre de navigation */

.logo{
    width: 90px;
    height: 100px;
}

/* Style de la barre de navigation et du Header contenant une image de fond */

nav{
    background-image: url(assets/abstract-dark-blurred-background-smooth-gradient-texture-color-shiny-bright-website-pattern-banner-header-sidebar-graphic-art-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 70px;
    padding: 0;
}

.nav-items > a{
    color: #FF6768;
    font-size: 1.3rem;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-items > a:hover{
    text-transform: uppercase;
    text-decoration: underline;
    color: #f1e4c3;
}

.nav-items > a:visited{
    color: #96254b;
}

/* Barre de navigation responsive */

.logo-responsive, .logo-burger{
    display: none;
}

.responsive-nav{
    padding: 20px;
    float: right;
    line-height: 1.5;
    text-align: right;
    background-color: #162737;
    margin-bottom: 20px;
    display: none;
}

.responsive-items > a{
    text-decoration: none;
    font-size: 0.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FF6768;
}

.responsive-items > a:hover{
    cursor:default;
    text-decoration: underline;
    color: #f1e4c3;
}

.responsive-items > a:visited{
    color: #96254b;
}

/* Nav bar spécifique à la page communautaire */

.nav-bar-bis{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

/* insertion d'un logo pour la page bonus au centre de la page. Souhaité arrondi avec le titre qui passe par dessus (z-index ?) */

.duck-logo{
    width: 150px;
    height: 100px;
    border:#263859 1px solid;
    border-radius: 60% 90% 60% 90%;
    display: flex;   
    text-align: center; 
    margin: auto;
    margin-top: 30px;
    padding: 20px 0 0 0;
}

/* titre de la page bonus qui doit aller sur le logo */

.bonus-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: #FF6768;
}

/* Mise en style de la section Hero */

.hero{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 20px 20px 1fr 60px;
    background-image: url(assets/diner-de-cons-cta-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 350px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 20vh;
}

/* Travaillons maintenant le bouton */

.cta, a{
    grid-area: -1 / 3 / -2 ;
    justify-self: end;
}
.cta{
    background-color: rgb(163, 221, 208);
    color: black;
    border-radius: 5px ;
    border: none;
    font-size: 1.1rem;
    width: 160px;
    height: 50px;
    margin-left: 0%;
}

/* effets avec survol du CTA button */

.cta:hover{
    background-color:#FF6768;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    width: 180px;
    height: 60px;
    border: #6B778D outset 3px;
    }



/* l'accroche */

.accroche{
    grid-area: -1 / 1 / 1 / 4;
    justify-self: center;
    font-size: 1.4rem;
    font-weight: 800;
    color:#263859;
}

/* le texte d'introduction */

.intro{
    border: 1px solid #263859;
    border-radius: 5% 0% 5% 0%;
    overflow: hidden;
    color: black;
    font-size: 1.1rem;
    font-weight: 300;
    margin-right: 10px;
    height: 140px;
    width: 345px;
    justify-self: center;
    line-height: 1.4;
    text-align: justify;
    grid-area: 3 / 1 / 3 / 4;
    padding: 20px;
}

/* Placement du h3 */

.themes{
    text-align: left;
    width: 70%;
    font-size: 1.8rem;
    margin-left: 70px;
    margin-top: 100px;
}

.underline{
    border-top: #263859 solid 3px;  
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 75%;
}

/* mise en forme de la galerie de miniatures pour les catégories */

.grid-contain{
    display: grid;
    width: 600px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin: auto;
    margin-bottom: 40px;
}

.grid-contain > p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FF6768;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-contain > p > a{
    display: block;
    text-decoration: none;
    color:#263859;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* positionnement des items dans la grid */

.empty-space{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.empty-space2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.empty-space3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.empty-space4{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* gallery pour les films nanard */

.nanard-grid{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px ;
}

.nanard-links{
    background-color: green;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    background-image: url(https://picsum.photos/150);
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Agencement de la page avec articles et illus */

.content-layout{
    display: flex;
    justify-content: space-around;
}

.articles{
    display: grid;
    gap: 10px;
    grid-template-columns: 120px 1fr 1fr 120px;
    grid-template-rows: repeat(3, auto);
    width: 60vw;   
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.articles > div{
    display: grid;
    padding: 15px;
    grid-column: span 3;

}

q{
    font-family: 'Oleo Script Swash Caps', cursive;
}

blockquote{
    border: 1px solid black;
    background-color:antiquewhite;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

blockquote > p{
    text-align: left;
}

/* La cité de la peur : vignette. */

.articles > span{
    background-size: cover;
    width: 120px;
    height: 140px;
    margin-top: 25px;
}

span > img{
    width: 100%;
}

.videos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
}

iframe {
    width: 100%;
}

/* Titre d'introduction formulaire de contact" */

.intro-contact{
    justify-content: center;
    color: #263859;
}

/* Insertion du logo en haut de la page des formulaires */

.logo-social-page{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    border: #263859 2px solid;
    border-radius: 50px;
    background-color: #fefdfd;
}

/* formulaires : mise en page */

fieldset{
    border: #263859 3px solid;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

legend{
    color: #FF6768;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 800;

}

fieldset label:nth-of-type(2n+1){
    text-align: end;
}

.left-position{
   align-self: flex-start;
   width: 350px;
   height: 32px;
}

label{
    font-size: 1.2rem;
}

/* Classe spéciale pour l'input associé au prénom que je n'arrive pas à exclure du sélecteur nthoftype  */

.input-size-min{
    display: block;
    width: 350px;
    height: 32px;
    align-self: flex-end;
}

/* Mise en forme du bouton de soumission des formulaires */

input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 2%;
    width: 150px;
    height: 40px;
    align-self: center;
    border-style: none;
    border-radius: 7px;
    background-color: #FF6768;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

input[type="submit"]:hover{
    transform: scale(1.2);
    border: solid #263859 2px;
}

/* Création d'une balise spoiler alert */

.spoiler{
    color: black;
    background-color: black;
    border: 1px solid white;
    user-select: none;
}

.spoiler:hover{
    cursor:not-allowed;
    user-select: none;
}

.spoiler:active{
    background-color: white;
    cursor:default;
}

/* Page cachée au clic sur le pacman, work in progres */

.wip{
margin-bottom: 10%;
}

.quizz{
    color: #263859;
    margin-top: 5%;
    margin-bottom: 3%;
}

.wip-img{
    display: block;
    width: 20%;
    margin: auto;
}

/* Footer */

.home-footer{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color:#FF6768;
}

#conclusion{
    width: 20%;
    line-height: 1.2;
    color: #263859;
    font-size: 1.1rem;
    font-weight: bold;
}

#more-fun{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 30px;
}

.social.networks{
    display: block;
    width: 80px;
    height: 70px;
}

#contact-footer{
    display: flex;
    width: 27%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

#contact-footer p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #263859;
    margin-bottom: 15px;
}

.footer-btn{
    padding: 0;
    width: 50%;
    height: 3rem;
}

.footer-btn > a{
    cursor: default;
    color: #263859;
    font-size: 1.1rem;
}

/* tentative de récupération  et d'ajustement d'un codepen pour pacman */

.pacman {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
    margin-right: 15px;
    font-family: "Slabo 27px", serif;
}


.pacman__eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background: #333333;
}

  .pacman__mouth {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
  .pacman__food {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 40%;
    left: 120px;
    animation-name: food;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }

  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }

  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }

  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

@keyframes food {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

/* mise en place du responsive  */

@media screen and (max-width: 430px) {

    .nav-bar{
        display: none;
    }

    .logo-responsive{
        display: initial;
    }
    
    .logo{
        width: 80px;
        height: 50px;
    }

    nav{
        height: 70px;
        display: flex;
        justify-content:space-between;
    }

    .nav-bar-bis{
        display: flex;
        align-items: flex-end;
    }

    .grid-contain{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 60%;
        margin: auto;
    }

    .grid-contain > p{
        display: flex;
        text-decoration: none;
        width: 100%;
        align-items: center;
    }

    .grid-contain > p > a{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.8rem;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    

    .logo-social-page{
        display: block;
        width: 70px;
        height: 70px;
        margin: auto;
        margin-top: 5%;
        border: #263859 2px solid;
        border-radius: 50px;
        background-color: #fefdfd;
    }
    
    .intro-contact{
        justify-content: center;
        font-size: 1.2rem;
        color: #263859;
        margin-bottom: 5%;
    }

    fieldset{
        border: #263859 2px solid;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    legend{
        color: #FF6768;
        font-size: 1.1rem;
        font-style: italic;
        font-weight: 600;    
    }

    label{
    font-size: 0.9rem;
}

    h1, #sub-title{
        display: none;
    }

    .responsive-h1{
        display: initial;
        font-size: 1rem;
        text-align: center;
        margin-right: 15%;
    }

    .hero{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        width: 90%;
        background-size: contain;
    }

    .intro{
        margin: 0;
    }

    .home-footer{    
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 150px;
        background-color:#FF6768;
    }

    #conclusion{
        width: 20%;
        line-height: 1.1;
        color: #263859;
        font-size: 0.8rem;
        font-weight: bold;
    }

    #contact-footer p{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 0.8em;
        font-weight: 300;
        color: #263859;
        margin-bottom: 15px;
    }

    .footer-btn{
        padding: 0;
        width: 100%;
        height: 1.5rem;
    }

    .footer-btn > a{
        cursor: default;
        color: #263859;
        font-size: 0.8rem;
    }

    .pacman{
        width: 70px;
        height: 70px;    
    }
    
}